.top-header {
    padding: 12px 24px;
    border-bottom: 2px solid $offWhite;
    min-height: 70px;
    position: sticky;
    top: 0;
    background-color: $white;
    z-index: 2;
}
.header-menu{
    gap: 18px;
    .language, .notification, .user-profile{
        user-select: none;
        &:hover{
            .icon-bg {
                background-color: $lightBlue;
            }
            .user-icon{
                background-color: $lightBlue;
                border-radius: 6px;
                transition: ease-out 0.2s;
                .icon-bg {
                    transition: 0s;
                }
            }
        }
    }
}
.navbrand{
    width: 100%;
    max-width: 180px;
}
.notification {
    .status {
        color: $black;
        font-size: 12px;
        position: absolute;
        right: 6px;
        top: 3px;        
        z-index: 1;
        &.active{
            color: $primary;
        }
    }
}
.user-profile{
    .icon-bg{
        padding: 4px 5px;
    }
    font-weight: 600;
}

