body {
  overflow-x: hidden;
  counter-reset: my-sec-counter;
}

.landing-sec {
  position: relative;
  padding: 220px 0;
  overflow: hidden;
}
.landing-sec .left-line {
  position: absolute;
  left: 0;
  top: 0;
  width: 350px;
  max-width: 100%;
  height: 100%;
  background: url(../images/left-curve-line.png);
  background-position: left top;
  background-repeat: no-repeat;
  z-index: 2;
  opacity: 1;
}
.landing-sec .right-bottom-curve {
  position: absolute;
  right: -30px;
  bottom: -30px;
  width: 655px;
  max-width: 100%;
  height: 100%;
  background: url(../images/right-curved-bg.png);
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: 2;
  opacity: 1;
}
.landing-sec .landing-bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  filter: brightness(0.8) contrast(1.6);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.landing-sec .landing-bg::before {
  content: "";
  position: absolute;
  opacity: 0.6;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.landing-sec .landing-bg.career-bg {
  background-image: url(../images/career-head-bg.jpg);
  background-position: center;
}
.landing-sec .landing-bg.contact-us-bg {
  background-image: url(../images/contact-head-bg.jpg);
  background-position: 60%;
}
.landing-sec .landing-bg.Portfolio-bg {
  background-image: url(../images/portfolio-head-bg.jpg);
  background-position: 0 -360px;
}
.landing-sec .landing-bg.services-head-bg {
  background-image: url(../images/srvc.jpg);
  background-position: 0px -400px;
}
.landing-sec .landing-bg.aboutus-head-bg {
  background-image: url(../images/aboutus-head-bg.jpg);
  background-position: center;
  background-attachment: unset;
}
.landing-sec .landing-bg.feedback-head-bg {
  background-image: url(../images/feedback-head-bg1.jpg);
  background-position: 0px -300px;
}
.landing-sec .landing-bg.index-head-bg {
  background-size: 100%;
  background-image: url(../images/landing-bg1.jpg);
  animation: rotation 120s infinite linear;
  animation-iteration-count: infinite;
  background-repeat: repeat-x;
  height: 32.7%;
  top: 0;
}
.landing-sec .landing-bg.index-head-bg2 {
  animation: rotation2 400s infinite linear;
  background-image: url(../images/landing-bg3.jpg);
  animation-iteration-count: infinite;
  background-repeat: repeat-x;
  height: 34.6%;
  background-size: cover;
  top: 32.6%;
}
.landing-sec .landing-bg.index-head-bg3 {
  animation: rotation3 120s infinite linear;
  background-image: url(../images/landing-bg1.jpg);
  animation-iteration-count: infinite;
  background-repeat: repeat-x;
  height: 33%;
  background-size: 100%;
  top: 67%;
}
@keyframes rotation {
  from {
    background-position: 6000px;
  }
  to {
    background-position: -6000px;
  }
}
@keyframes rotation2 {
  from {
    background-position: -5500px;
  }
  to {
    background-position: 5500px;
  }
}
@keyframes rotation3 {
  from {
    background-position: 6000px;
  }
  to {
    background-position: -6000px;
  }
}
.landing-sec .landing-content {
  position: relative;
  z-index: 2;
  max-width: 800px;
  color: white;
  margin: 4% auto;
  -webkit-backdrop-filter: blur(1.8px);
          backdrop-filter: blur(1.8px);
  padding: 0 20px;
}
.landing-sec .landing-heading {
  font-size: 48px;
  font-weight: 700;
  line-height: 52px;
  transform: translate(0px, 40px);
  text-shadow: 10px 10px 8px rgba(0, 0, 0, 0.6901960784);
}
.landing-sec .landing-heading span {
  color: #E57E25;
}
.landing-sec .heading-content {
  font-size: 30px;
  font-weight: 600;
  padding: 20px 0 60px;
  transform: translate(0px, 40px);
}

.services-section {
  background-image: url(../images/sec2-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 120px 0px 90px;
  color: #ffffff;
  background-color: rgba(34, 36, 41, 0.9882352941);
  z-index: 1;
}

.service-block .inner-box {
  position: relative;
  display: block;
  padding: 50px 45px;
  background: #1c1e22;
  min-height: 100%;
  border-radius: 7px;
  overflow: hidden;
  transition: all 500ms ease;
  font-family: "Teko", sans-serif;
}
.service-block .inner-box::before {
  content: "0" counter(slides-num) "";
  counter-increment: my-sec-counter;
  content: "0" counter(my-sec-counter);
  position: absolute;
  left: 45px;
  top: 50px;
  font-size: 50px;
  line-height: 1em;
  color: #ffffff;
  opacity: 0.07;
}
.service-block .inner-box .bottom-curve {
  position: absolute;
  right: -80px;
  bottom: 0;
  width: 100px;
  height: 80%;
  opacity: 0.2;
  background: #222429;
  z-index: 2;
  transform: skewX(0deg) scaleX(0);
  transition: all 0.5s ease;
}
.service-block .inner-box .icon-box {
  position: absolute;
  right: 45px;
  top: 50px;
}
.service-block .inner-box .icon-box img {
  width: 80px;
}
.service-block .inner-box h6 {
  position: relative;
  margin: 0;
  margin-top: 90px;
  font-size: 20px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1.1em;
  max-width: 110px;
}
.service-block .inner-box h6 a {
  color: #ffffff;
}
.service-block .inner-box:hover {
  background: #ffaa17;
}
.service-block .inner-box:hover .icon-box {
  filter: invert(1) brightness(0.2);
}
.service-block .inner-box:hover .bottom-curve {
  transform: skewX(-35deg) scaleX(1);
}

.about-section {
  position: relative;
  padding: 90px 0px;
  background: #ffffff;
  overflow: hidden;
}
.about-section::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  margin-left: -410px;
  width: 50%;
  height: 100%;
  background: #f4f5f8;
}
.about-section .img-col {
  position: relative;
  margin-bottom: 80px;
}
.about-section .img-col .img-1 {
  margin-left: 80px;
}
.about-section .img-col .img-1 img {
  border-radius: 8px;
  filter: grayscale(100%);
}
.about-section .img-col .img-2 {
  margin-top: -100px;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}
.about-section .img-col .img-2 img {
  filter: grayscale(100%);
}
.about-section .img-col::before {
  content: "";
  position: absolute;
  left: 0;
  width: 12px;
  height: 240px;
  background-color: #FFAA17;
  border-radius: 8px;
}
.about-section .img-col .since {
  position: absolute;
  margin-top: -40px;
  right: 0;
}
.about-section .img-col .since span.txt {
  padding: 21px 5px;
  width: 90px;
  height: 90px;
  background: #222429;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 50%;
  font-family: Teko, sans-serif;
  font-size: 20px;
  line-height: 1;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 27px;
}
.about-section .text-col {
  padding: 0px 0px 0px 30px;
}
.about-section .text-col .sec-title .lower-text {
  color: #ffaa17;
  padding: 20px 0 0;
}
.about-section .text-col .landing-btns {
  padding-top: 40px;
}

.text-col {
  position: relative;
  display: block;
  min-height: 260px;
  padding: 125px 0px 0px 30px;
  background: #ffffff;
  border-radius: 7px 0px 0px 0px;
}
.text-col::before {
  content: "";
  position: absolute;
  left: 100%;
  top: 0;
  margin-left: -1px;
  width: 100vw;
  height: 100%;
  background: #ffffff;
}
.text-col .text p {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 22px;
  font-family: Rubik, sans-serif;
  letter-spacing: 0;
  text-align: justify;
}
.text-col .text-list ul {
  position: relative;
  display: inline-block;
}
.text-col .text-list ul li {
  position: relative;
  line-height: 22px;
  font-size: 16px;
  margin-bottom: 10px;
  padding-left: 35px;
}
.text-col .text-list ul li::before {
  content: " ";
  background-image: url(../images/check-mark.png);
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  left: 5px;
  top: 5px;
  height: 18px;
  width: 18px;
}

.trusted-sec {
  overflow: hidden;
  margin-top: -240px;
  margin-bottom: 100px;
}
.trusted-sec .trusted-col-header {
  position: relative;
  padding: 75px 50px 20px;
  min-height: 240px;
  background: #ffaa17;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2em;
  text-transform: uppercase;
  letter-spacing: 0px;
  color: #222429;
  font-family: Teko, sans-serif;
  text-align: center;
  border-radius: 7px 7px 0 0;
}
.trusted-sec .trusted-col-header::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -39px;
  width: 50px;
  height: 40px;
  background: url(/images/curve-down-left.png) left top no-repeat;
}
.trusted-sec .trusted-col-features .feature {
  position: relative;
  display: block;
  padding: 52px 0px;
  padding-left: 90px;
  min-height: 170px;
  border-bottom: 1px solid #e9ebee;
  font-family: teko, sans-serif;
}
.trusted-sec .trusted-col-features .feature .count {
  position: absolute;
  left: 0;
  top: 55px;
  width: 60px;
  height: 60px;
  text-align: center;
  background: rgba(255, 170, 23, 0.2);
  padding: 12px 10px;
  line-height: 40px;
  font-size: 30px;
  letter-spacing: 1px;
  color: #ffaa17;
  text-transform: uppercase;
  border-radius: 50%;
  transition: all 500ms ease;
}
.trusted-sec .trusted-col-features .feature h5 {
  font-weight: 400;
  margin: 0;
  line-height: 1.15em;
  color: #222429;
  margin-bottom: 10px;
}
.trusted-sec .trusted-col-features .feature .subtxt {
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.1em;
  color: #686a6f;
  text-transform: uppercase;
  line-height: 1.25em;
}

.owl-dots {
  text-align: center;
}
.owl-dots .owl-dot {
  margin-right: 5px;
}
.owl-dots .owl-dot.active span {
  border: 2px solid #E57E25;
  background: #ffffff;
}
.owl-dots .owl-dot.active:focus {
  outline: 0px;
}
.owl-dots .owl-dot span {
  display: block;
  width: 12px;
  height: 12px;
  background: #ecebeb;
  border-radius: 50%;
}

canvas {
  position: absolute;
  top: 0;
  width: 100% !important;
}

@media only screen and (max-width: 1200px) {
  .landing-sec .landing-bg.career-bg {
    background-position: bottom;
    background-attachment: unset;
  }
  .landing-sec .landing-bg.Portfolio-bg {
    background-position: -100px -220px;
  }
  .landing-sec .landing-bg.services-head-bg {
    background-position: bottom;
    background-attachment: unset;
  }
  .landing-sec .landing-bg.feedback-head-bg {
    background-position: -100px -200px;
  }
  .landing-sec .landing-content {
    max-width: 100%;
    margin: 40px;
  }
  .landing-sec .landing-heading {
    font-size: 38px;
    line-height: 44px;
  }
  .landing-sec .heading-content {
    font-size: 20px;
    padding: 20px 0 80px;
  }
  .services-section {
    padding: 60px 0;
  }
  .service-block .inner-box .icon-box {
    right: 15x;
  }
  .about-section::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
  }
  .about-section .text-col {
    padding: 0px;
  }
}
@media only screen and (max-width: 1200px) and (min-width: 991px) {
  .sponsors-sec .testimonial .testimonial-body .client-img .img-l {
    top: 15px;
    left: 20px;
    width: 100px;
  }
  .sponsors-sec .testimonial .testimonial-body .client-img .img-r {
    top: 15px;
    right: 6px;
    width: 100px;
  }
}
@media only screen and (max-width: 991px) {
  .text-col {
    padding: 65px 20px;
  }
}
@media only screen and (max-width: 569px) {
  .landing-sec .landing-content {
    margin: 5px;
  }
  .landing-sec .landing-heading {
    font-size: 28px;
    line-height: 34px;
  }
  .landing-sec .heading-content {
    font-size: 18px;
  }
  .services-section {
    padding: 60px 5px;
  }
  .about-section .img-col {
    margin-bottom: 80px;
    text-align: center;
  }
  .about-section .img-col .img-1 {
    margin-left: 0px;
  }
  .about-section .img-col .img-2 {
    margin-top: 10px;
    width: 100%;
    text-align: center;
  }
  .about-section .img-col::before {
    content: "";
    position: absolute;
    left: 0;
    width: 12px;
    height: 240px;
    background-color: #FFAA17;
    border-radius: 8px;
    display: none;
  }
  .sponsors-sec .testimonial .testimonial-body {
    margin: 20px;
  }
  .sponsors-sec .testimonial .testimonial-body .client-img .img-l {
    top: 15px;
    left: 20px;
    width: 100px;
  }
  .sponsors-sec .testimonial .testimonial-body .client-img .img-r {
    top: 15px;
    right: 6px;
    width: 100px;
  }
  canvas {
    position: absolute;
    top: 0;
    width: 100% !important;
    height: 80% !important;
  }
}
#preloader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-color: #f1f2f3;
}
#preloader .loding-icon {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0);
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(../images/preloader.gif);
  transition: all 200ms ease;
}

.services {
  padding: 140px 0;
  overflow: hidden;
  margin-bottom: 100px;
}
.services .left-line {
  top: -30px;
}
.services .landing-content {
  text-align: center;
  max-width: 100%;
  margin: 0;
}

.service-details {
  margin: 50px;
}
.service-details .main-img {
  margin-bottom: 35px;
}
.service-details .main-img img {
  border-radius: 8px;
  width: 770px;
  height: 430px;
}
.service-details .img-col img {
  border-radius: 8px;
  max-width: 100%;
}
.service-details h2 {
  font-size: 36px;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 40px;
  margin-bottom: 20px;
  font-family: teko, sans-serif;
}
.service-details ul {
  padding: 0;
}
.service-details ul li {
  position: relative;
  margin-bottom: 10px;
  list-style: none;
}
.service-details ul li img {
  width: 16px;
  margin-right: 10px;
}

.small-pannel {
  color: #1C110A;
}
.small-pannel .columns {
  max-height: 230px;
  height: 200px;
  justify-content: space-around;
  padding: 40px 20px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 60px;
  border-radius: 20px;
  box-shadow: 0 2px 8px rgba(51, 51, 51, 0.2);
  transition: 0.5s ease;
  background-color: rgba(240, 240, 240, 0.231372549);
}
.small-pannel .columns .icon {
  transition: 0.5s;
}
.small-pannel .columns .icon img {
  height: 70px;
  margin: 10px 0px;
}
.small-pannel .columns:hover {
  transform: scale(1.1);
  background-color: rgba(177, 177, 177, 0.1);
  color: #E57E25;
  box-shadow: 0 11px 17px rgba(51, 51, 51, 0.3);
}

@media only screen and (max-width: 1200px) {
  .service-details {
    margin: 50px;
  }
  .service-details .main-img {
    margin-bottom: 35px;
    text-align: center;
  }
}
@media only screen and (max-width: 569px) {
  .services {
    margin-bottom: 50px;
  }
  .service-details {
    margin: 20px;
  }
}
.counter-sec {
  overflow: hidden;
  margin-top: 80px;
  color: white;
  z-index: 0;
  position: relative;
  padding-bottom: 240px;
}
.counter-sec::before {
  background-color: #5f4c33;
  opacity: 0.4;
  position: absolute;
  content: " ";
  width: 100%;
  height: 100%;
  z-index: -1;
}
.counter-sec .container {
  margin: 0 auto;
}
.counter-sec .container .main .counterup {
  padding: 60px 0px;
  text-align: center;
  position: relative;
  text-transform: uppercase;
  font-family: Teko, sans-serif;
}
.counter-sec .container .main .counterup::before {
  position: absolute;
  content: "";
  left: 0px;
  right: 0px;
  top: 0;
  min-width: 100%;
  border-top: 4px solid #ffaa17;
  transform: scaleX(0);
  transition: all 500ms ease;
}
.counter-sec .container .main .counterup:hover::before {
  transform: scaleX(1);
}
.counter-sec .container .main .counterup::after {
  position: absolute;
  content: "";
  right: 0px;
  top: 0;
  bottom: 40px;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}
.counter-sec .container .main .counterup h2 {
  font-size: 55px;
}
.counter-sec .container .main .counterup h3 {
  font-size: 26px;
}
.counter-sec .container .main .counterup:nth-child(4)::after {
  content: "";
  border-right: none;
}
.counter-sec .counter-bg {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -100;
  background-image: url(../images/bg3.jpg);
  filter: brightness(0.6) contrast(1.4);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 1200px) {
  .counter-sec {
    margin-top: 0px;
  }
}
@media only screen and (max-width: 991px) {
  .counter-sec .container {
    margin: 0 auto;
  }
  .counter-sec .container .main .counterup:nth-child(2)::after {
    content: "";
    border-right: none;
  }
}
@media only screen and (max-width: 569px) {
  .counter-sec .container .main .counterup {
    padding: 20px 0px;
  }
}
.career-sec .skill-card {
  position: relative;
  overflow: hidden;
  padding: 40px 0;
  border-radius: 8px;
  border: 1px solid #bebebe;
}
.career-sec .skill-card.inner-box {
  font-family: "Teko", sans-serif;
  text-align: center;
}
.career-sec .skill-card.inner-box .bottom-curve {
  position: absolute;
  right: -100px;
  bottom: 0;
  width: 100px;
  height: 80%;
  opacity: 0.2;
  background: #222429;
  z-index: 2;
  transform: skewX(0deg) scaleX(0);
  transition: all 0.5s ease;
}
.career-sec .skill-card.inner-box img {
  width: 80px;
}
.career-sec .skill-card.inner-box h3 {
  color: black;
  margin: 20px 0 10px;
}
.career-sec .skill-card.inner-box ul {
  padding: 0;
}
.career-sec .skill-card.inner-box ul li {
  list-style-type: none;
  font-size: 20px;
}
.career-sec .skill-card:hover {
  background: #ffaa17;
}
.career-sec .skill-card:hover .bottom-curve {
  transform: skewX(-35deg) scaleX(1);
}
.career-sec .skill-card:hover img {
  filter: invert(0.6) brightness(0.1);
}
.career-sec .current-openings {
  margin-top: -1px;
  padding: 60px 0;
}
.career-sec .current-openings .job-box {
  padding: 40px;
}
.career-sec .current-openings .job-box ul {
  list-style-type: decimal;
}
.career-sec .current-openings .job-box ul li {
  list-style: none;
}
.career-sec .current-openings .job-box ul li button {
  width: 100%;
  padding: 20px 40px;
  background-color: #fff;
  text-transform: capitalize;
  margin-bottom: 10px;
  font-size: 22px;
  border: 1px solid #bebebe;
  border-radius: 10px;
  position: relative;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  padding: 20px 60px 20px 40px;
  color: #222429;
  transition: all 500ms ease;
  font-family: teko, sans-serif;
}
.career-sec .current-openings .job-box ul li button img {
  max-width: 20px;
}
.career-sec .current-openings .job-box ul li button:hover {
  /* transform: scale(1.05); */
  border: 2px solid #cbcbcb;
}
.career-sec .current-openings .job-box ul li button:focus {
  outline: none;
}
.career-sec .current-openings .job-box ul li button[aria-expanded=false] .plus {
  background-image: url(../images/plus.png);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position-x: center;
  height: 35px;
  transition: 1s;
  background-position: 100% 50%;
}
.career-sec .current-openings .job-box ul li button[aria-expanded=true] .minus {
  background-image: url(../images/minus.png);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position-x: center;
  height: 20px;
  background-position: 100% 50%;
}
.career-sec .current-openings .job-box ul li .job-detail {
  transition: 0.6s;
  padding: 20px;
  text-align: justify;
}
.career-sec .current-openings .job-box ul li .job-detail .list-group-item {
  font-size: 16px;
  font-family: Rubik, sans-serif;
  line-height: 20px;
}
.career-sec .current-openings .job-box ul li .job-detail.show {
  margin-top: -20px;
  background: white;
  margin-bottom: 20px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.head-content {
  transform: translate(0px, 40px);
}
.head-content .title {
  font-size: 40px;
  color: #f8f9fa;
  font-weight: 600;
}
.head-content .details {
  font-size: 28px;
  color: #f8f9fa;
  line-height: 35px;
}

@media only screen and (max-width: 1200px) {
  .career-sec .current-openings .job-box {
    padding: 20px 40px 0;
  }
  .career-sec .current-openings .job-box ul {
    padding: 0;
  }
  .career-sec .current-openings .job-box ul li .job-detail {
    padding: 20px 0;
  }
  .head-content .title {
    font-size: 30px;
  }
  .head-content .details {
    font-size: 22px;
    line-height: 28px;
  }
}
@media only screen and (max-width: 991px) {
  .job-box {
    padding: 0px;
  }
}
@media only screen and (max-width: 767px) {
  .career-sec .current-openings .job-box {
    padding: 20px 0px 0;
  }
  .career-sec .current-openings .job-box ul {
    padding: 0;
  }
  .career-sec .current-openings .job-box ul li button {
    padding: 10px 40px 10px 20px;
  }
  .head-content .title {
    font-size: 26px;
  }
  .head-content .details {
    font-size: 18px;
    line-height: 22px;
  }
}
.expert-team {
  margin-bottom: 40px;
  padding-bottom: 40px;
}
.expert-team .img-box {
  text-align: center;
}
.expert-team .img-box .team-img {
  border-radius: 6px;
  width: 80%;
}
.expert-team .img-box .lower-box {
  padding: 30px 0px 0;
  text-align: center;
}
.expert-team .img-box .lower-box h5 {
  font-family: teko, sans-serif;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 26px;
  font-weight: 400;
  margin: 0;
}
.expert-team .img-box .lower-box p {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 19px;
  font-weight: 400;
  color: #686a6f;
  padding-top: 5px;
  font-family: teko, sans-serif;
}
.expert-team .img-box ul {
  position: absolute;
  transform: translateY(0) translateX(-50%);
  left: 50%;
  padding: 0;
  transition: 0.6s ease-in-out;
  opacity: 0;
  display: flex;
}
.expert-team .img-box ul li {
  list-style: none;
  background: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.expert-team .img-box ul li img {
  width: 20px;
  margin: auto;
  transform: translateY(6px);
}
.expert-team .img-box ul li:hover {
  background: #ffaa17;
}
.expert-team .img-box:hover {
  transition: 1s;
}
.expert-team .img-box:hover ul {
  transform: translateY(-60px) translateX(-50%);
  opacity: 1;
}

@media only screen and (max-width: 569px) {
  .img-box .team-img {
    width: 60%;
  }
}
.testimonial {
  padding: 100px 0;
  margin-top: -100px;
  position: relative;
}
.testimonial .testimonial-img {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url(../images/tastimonial-bg.png);
}
.testimonial .testimonial-body {
  min-height: 400px;
  background-color: #222429;
  margin: 40px;
  padding: 40px 0;
  box-shadow: 4px 4px 12px 6px rgba(0, 0, 0, 0.2);
}
.testimonial .testimonial-body .client-img {
  position: relative;
  min-height: 130px;
}
.testimonial .testimonial-body .client-img .img-l {
  position: absolute;
  top: -15px;
  left: 20px;
  border-radius: 50%;
  width: 155px;
  box-shadow: 0px 0px 18px 4px rgba(0, 0, 0, 0.5);
}
.testimonial .testimonial-body .client-img .img-r {
  position: absolute;
  top: -15px;
  right: 6px;
  border-radius: 50%;
  width: 155px;
  box-shadow: 0px 0px 18px 4px rgba(0, 0, 0, 0.5);
}
.testimonial .testimonial-body .client-details {
  max-width: 68%;
  padding: 8px 0 0;
}
.testimonial .testimonial-body .client-details:nth-child(1) {
  margin-left: auto;
  text-align: end;
}
.testimonial .testimonial-body .client-details .client-name {
  font-family: Teko, sans-serif;
  font-size: 40px;
  margin: 0;
  color: white;
}
.testimonial .testimonial-body .client-details .job-title {
  font-family: Teko, sans-serif;
  font-size: 20px;
  margin: 0;
  color: white;
}
.testimonial .testimonial-body .client-feedback {
  font-family: rubik, sans-serif;
  font-size: 18px;
  margin: 0;
  color: white;
  min-height: 250px;
}

.o-bgcolor {
  background-color: #E57E25;
}

.y-bgcolor {
  background-color: #05BCCE;
}

.g-bgcolor {
  background-color: #9ee849;
}

@media only screen and (max-width: 1200px) and (min-width: 800px) {
  .testimonial .testimonial-body .client-img .img-l {
    top: 15px;
    left: 20px;
    width: 100px;
  }
  .testimonial .testimonial-body .client-img .img-r {
    top: 15px;
    right: 6px;
    width: 100px;
  }
}
@media only screen and (max-width: 569px) {
  .testimonial .testimonial-body {
    margin: 20px;
  }
  .testimonial .testimonial-body .client-img .img-l {
    top: 15px;
    left: 20px;
    width: 100px;
  }
  .testimonial .testimonial-body .client-img .img-r {
    top: 15px;
    right: 6px;
    width: 100px;
  }
}
.sponsors-sec .sponsors-head {
  position: relative;
  padding: 100px 0px;
  text-align: center;
  color: #ffffff;
  z-index: 1;
}
.sponsors-sec .sponsors-head::before {
  content: " ";
  background-color: #5f4c33;
  opacity: 0.4;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  left: 0;
  top: 0;
}
.sponsors-sec .sponsors-head .valuable-client {
  position: relative;
  max-width: 870px;
  margin: 0 auto;
}
.sponsors-sec .sponsors-head .valuable-client img {
  width: 80px;
  background: white;
  border-radius: 50%;
  padding: 15px;
}
.sponsors-sec .sponsors-head .valuable-client h2 {
  font-size: 70px;
  line-height: 70px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 0px;
  font-family: "Teko", sans-serif;
}
.sponsors-sec .sponsors-head .valuable-client h2 span {
  color: #ffaa17;
}
.sponsors-sec .sponsors-head .sponsors-bg {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -100;
  background-image: url(../images/bg3.jpg);
  filter: brightness(0.6) contrast(1.4);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}
.sponsors-sec .sponsors {
  position: relative;
  padding: 100px 0;
  background: #ffffff;
}
.sponsors-sec .sponsors .team-img {
  width: 60%;
  margin: auto;
}
.sponsors-sec .testimonial {
  padding: 20px 0;
  margin-top: 0px;
}
.sponsors-sec .owl-dots {
  text-align: end;
  margin-right: 30px;
}

@media only screen and (max-width: 991px) {
  .sponsors-sec .testimonial {
    padding: 40px 0;
    margin-top: 0px;
  }
  .sponsors-sec .owl-dots {
    text-align: center;
    margin-right: 30px;
  }
}
.portfolio-section .heading {
  margin-bottom: 50px;
}
.portfolio-section .heading h3 {
  color: #da7824;
  font-size: 36px;
}
.portfolio-section .portfolioFilter {
  margin-bottom: 10px;
}
.portfolio-section .portfolioFilter a {
  margin: 0 25px;
  font-size: 16px;
  line-height: 24px;
  font-family: "Franklin Gothic";
  color: #717171;
  letter-spacing: 1px;
}
.portfolio-section .portfolioFilter a.current {
  color: #e57e25;
}
.portfolio-section .p-item {
  padding: 15px;
  margin: 0;
}
.portfolio-section .p-item a {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
}
.portfolio-section .p-item:hover .about-product {
  transform: scale(1);
  opacity: 1;
}
.portfolio-section .p-item img {
  min-height: 310px;
  width: 100%;
}
.portfolio-section .product-img {
  position: absolute;
  background-size: cover;
  background-position: top center;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
.portfolio-section .product-img .about-product {
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 90%;
  height: 35%;
  transform: scale(0.5);
  transition: 0.3s;
  opacity: 0;
  top: 185px;
  text-align: center;
  left: 18px;
  border-radius: 5px;
}
.portfolio-section .fluidbox__overlay {
  background-color: rgba(0, 0, 0, 0.85) !important;
}

.portfolio img.logo {
  height: 357px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 768px) {
  .portfolio img.logo {
    height: 457px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.office-location {
  margin: 100px 0;
  justify-content: space-between;
}

.address-card {
  padding: 40px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
  background-color: #222429;
  color: white;
  border-radius: 8px;
  width: 100%;
}
.address-card .office {
  font-size: 30px;
  font-family: "Teko", sans-serif;
}
.address-card .offc-add {
  font-size: 20px;
  font-family: "rubik", sans-serif;
}
.address-card .offc-add i {
  margin-right: 10px;
}
.address-card .offc-add i img {
  width: 18px;
}
.address-card:hover {
  background-color: #ffffff;
  color: #222429;
}

.about-us {
  padding-top: 30px;
  padding-bottom: 30px;
  z-index: 1;
}
.about-us .about-block {
  max-width: 1700px;
  width: 90vw;
  margin: 0 auto;
  flex-direction: row-reverse;
}
.about-us .about-block .img-bg {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-us .about-block .img-bg::before {
  content: " ";
  background-color: rgba(232, 107, 0, 0.1215686275);
  height: 100%;
  max-width: 50%;
  right: 0px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}
.about-us .about-block .img-bg .sec-img {
  border-radius: 100%;
  height: 500px;
  width: 500px;
  margin-top: 25px;
  margin-bottom: 25px;
  transition: 1s;
}
.about-us .about-block .img-bg-2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-us .about-block .img-bg-2 .sec-img-2 {
  border-radius: 100%;
  height: 500px;
  width: 500px;
  margin-top: 25px;
  margin-bottom: 25px;
  transition: 1s;
}
.about-us .about-block .img-bg-2::before {
  content: " ";
  background-color: rgba(232, 107, 0, 0.1215686275);
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40%;
  right: 0px;
}

.why-us {
  margin: 100px 20px;
}
.why-us .sec-title {
  margin: 0;
}
.why-us .sec-title h2 {
  color: white;
  font-size: 30px;
  margin: 15px;
}
.why-us .sec-title .lower-text {
  padding: 0;
  color: #dcdcdc;
}
.why-us .columns {
  text-align: center;
  border-radius: 15px;
  padding: 30px;
  min-height: 100%;
  background-color: #222429;
}
.why-us .columns:hover {
  transform: scale(1.05);
  transition: 0.5s linear 0.1s;
}
.why-us .columns .head {
  font-size: 27px;
  padding: 5px;
  text-transform: capitalize;
  color: #ffffff;
  font-family: "Franklin Gothic";
}
.why-us .columns .details {
  font-size: 14px;
  color: #dcdcdc;
}

@media only screen and (max-width: 1440px) and (min-width: 991px) {
  .about-us .about-block .img-bg .sec-img {
    height: 400px;
    width: 400px;
    margin-top: 35px;
    margin-bottom: 35px;
  }
  .about-us .about-block .img-bg-2 .sec-img-2 {
    height: 400px;
    width: 400px;
    margin-top: 35px;
    margin-bottom: 35px;
  }
}
.contact-us {
  position: relative;
  display: block;
  padding: 95px 95px 68px;
  background: #ffaa17;
  color: #222429;
  border-radius: 7px;
  overflow: hidden;
  bottom: -60px;
  margin-top: -60px;
}
.contact-us .rightcurve {
  position: absolute;
  right: 0;
  top: 0;
  width: 340px;
  max-width: 100%;
  height: 100%;
  background: url(/images/upper-rightcurve.png) right top no-repeat;
  z-index: 0;
}
.contact-us .halfcircule {
  position: absolute;
  right: 170px;
  top: 0;
  width: 410px;
  height: 54px;
  background: url(/images/upper-halfcircule.png) right top no-repeat;
  z-index: 0;
}

@media only screen and (max-width: 1200px) {
  .contact-us {
    padding: 65px 20px 65px;
  }
}
@media only screen and (max-width: 910px) {
  .contactus-sec {
    max-width: 100%;
  }
}
footer {
  padding: 170px 0px 0px 0px;
  color: #999b9f;
  background: #222429 url(/images/footer-bg.png) center top no-repeat;
}
footer ul li {
  list-style: none;
}
footer .footer-heading {
  position: relative;
  font-size: 24px;
  font-weight: 500;
  color: #ffffff;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  font-family: Teko, sans-serif;
}
footer .pixon .pz-logo {
  margin-bottom: 26px;
}
footer .pixon .pz-logo img {
  width: 150px;
}
footer .pixon .socl-links {
  display: flex;
}
footer .pixon .socl-links a img {
  width: 30px;
}
footer .pixon .socl-links a img:hover {
  filter: invert(0.2);
}
footer .footer-text {
  margin: 0 0 30px;
  font-size: 16px;
  line-height: 34px;
  letter-spacing: 0;
  font-family: Rubik, sans-serif;
  font-weight: 400;
}
footer .contact-detl .foot-address {
  display: flex;
}
footer .contact-detl span {
  margin-right: 12px;
}
footer .contact-detl p {
  display: inline-block;
  margin-bottom: 0;
}
footer .contact-detl img {
  width: 20px;
}
footer .contact-detl a {
  color: #999b9f;
  text-decoration: none;
}
footer .copyright {
  padding: 35px 0px;
  line-height: 30px;
  color: #999b9f;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 16px;
  text-align: center;
}

@media screen and (max-width: 992px) {
  footer .footer-heading {
    font-size: 28px;
    margin-top: 30px;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 768px) {
  footer .container {
    max-width: 75%;
  }
}
@media screen and (max-width: 400px) {
  footer {
    text-align: center;
  }
  footer .footer-text {
    margin: 0 0 30px;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0;
    font-family: Rubik, sans-serif;
    font-weight: 400;
  }
  footer .pixon .socl-links {
    display: flex;
    justify-content: center;
  }
  footer .pixon .socl-links img {
    width: 24px;
  }
  footer .pixon .socl-links img:hover {
    filter: invert(0.2);
  }
}
.header-upper .navbar-brand {
  color: #ffaa17;
}
.header-upper .nav-inner {
  background-color: transparent;
  z-index: 10000;
  border-bottom: 4px solid rgba(255, 255, 255, 0.0509803922);
  padding: 20px 60px;
  position: fixed;
  top: 0;
  width: 100%;
  transition: all ease 0.2s;
}
.header-upper .nav-inner .inner-nav-content ul li {
  position: relative;
}
.header-upper .nav-inner .inner-nav-content ul li a {
  font-size: 22px;
  margin-right: 30px;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 12px 0px;
  opacity: 1;
  transition: all 300ms ease;
  font-family: "Teko";
  position: relative;
  transition: 0.5s;
}
.header-upper .nav-inner .inner-nav-content ul li a::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: #ffaa17;
  transform: translatex(-50%);
  left: 50%;
  top: 100%;
  transition: 0.5s;
}
.header-upper .nav-inner .inner-nav-content ul li a.active::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #ffaa17;
  transform: translatex(-50%);
  left: 50%;
  top: 100%;
  transition: 0.5s;
}
.header-upper .nav-inner .inner-nav-content ul li a:hover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #ffaa17;
  transform: translatex(-50%);
  left: 50%;
  top: 100%;
  transition: 0.5s;
}
.header-upper .nav-inner .inner-nav-content ul li .navoptions {
  display: none;
  padding: 0px 20px;
  background-color: rgba(255, 255, 255, 0.6);
  color: black;
  list-style: none;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 8px;
  position: absolute;
  top: 110%;
  width: 160px;
}
.header-upper .nav-inner .inner-nav-content ul li .navoptions a {
  margin: 0px;
  color: #222429;
}
.header-upper .nav-inner .inner-nav-content ul li:hover .navoptions {
  display: inline-block;
}
.header-upper .nav-inner.filled {
  background-color: #222429;
  top: 0;
  padding: 20px 60px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2509803922);
}
.header-upper .nav-inner.filled .landing-btns button {
  background-color: white;
}
.header-upper .nav-inner.filled .landing-btns button i {
  background-color: #ffaa17;
}
.header-upper .nav-inner.filled .landing-btns button:hover i {
  background-color: #ffaa17;
}

.navbar-dark .navbar-toggler {
  border-color: rgb(255, 255, 255);
}

@media only screen and (max-width: 1400px) {
  .header-upper .nav-inner {
    padding: 20px 40px;
  }
  .header-upper .nav-inner.filled {
    padding: 20px 40px;
  }
}
@media only screen and (max-width: 1200px) {
  .header-upper .nav-inner {
    background-color: #222429;
  }
  .header-upper .nav-inner .navbar-brand img {
    width: 80%;
  }
  .header-upper .nav-inner .navbar-toggler {
    font-size: 0.85rem;
  }
  .header-upper .landing-btns {
    margin-top: 20px;
  }
}
@media only screen and (max-width: 569px) {
  .header-upper .nav-inner {
    padding: 20px 20px;
  }
  .header-upper .nav-inner .navbar-brand img {
    width: 60%;
  }
  .header-upper .nav-inner.filled {
    padding: 20px 20px;
  }
}
.new {
  padding: 80px 0;
  background-color: #f4f5f8;
}
.new .text-col {
  background-color: #f4f5f8;
}
.new .text-col::before {
  content: " ";
  display: none;
}

.portfolio .sec-title h2 {
  color: #E57E25;
}

.innovative-sec {
  margin: 80px 0;
}

.sec-title {
  margin-bottom: 20px;
}
.sec-title h2 {
  position: relative;
  display: block;
  font-size: 60px;
  line-height: 0.9em;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 0px;
  font-family: "Teko", sans-serif;
}
.sec-title h2 .dot {
  color: #ffaa17;
  padding-left: 7px;
}
.sec-title .lower-text {
  position: relative;
  display: block;
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
  color: #999b9f;
  padding: 30px 0px 0px;
  font-family: rubik, sans-serif;
}

.cuop-heading {
  font-size: 110px;
  font-family: teko, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  transform: rotate(-90deg);
  line-height: 110px;
  letter-spacing: 6px;
  text-align: center;
}

.details-block {
  font-family: "teko", sans-serif;
  color: #1C110A;
}
.details-block .title {
  font-size: 40px;
  line-height: 40px;
  padding-bottom: 20px;
  position: relative;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 0.6px;
}
.details-block .title::after {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  height: 6px;
  width: 6px;
  border-radius: 15px;
  background-color: #ffaa17;
  transition: 0.2s;
}
.details-block .details {
  font-size: 20px;
  line-height: 26px;
  margin-top: 30px;
  font-family: "rubik", sans-serif;
  text-align: justify;
}
.details-block:hover .title::after {
  width: 160px;
}

@media only screen and (max-width: 1200px) {
  .cuop-heading {
    font-size: 60px;
    transform: rotate(0deg);
    line-height: 64px;
    letter-spacing: 2px;
  }
}
@media only screen and (max-width: 991px) {
  .sec-title h2 {
    font-size: 48px;
  }
  .cuop-heading {
    font-size: 48px;
  }
}
@media only screen and (max-width: 569px) {
  .sec-title h2 {
    font-size: 38px;
  }
  .sec-title .lower-text {
    font-size: 16px;
    line-height: 22px;
    padding: 16px 0px 0px;
  }
  .cuop-heading {
    font-size: 38px;
  }
}
.landing-btns button {
  font-size: 20px;
  padding: 20px;
  background-color: #ffaa17;
  color: #222429;
  width: 220px;
  margin-right: 10px;
  border: 0;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
  transition: 0.5s;
  border-radius: 10px;
  font-weight: 700;
}
.landing-btns button i {
  position: absolute;
  right: -15px;
  top: 0;
  width: 26px;
  height: 100%;
  background-color: #222429;
  opacity: 0.2;
  z-index: 0;
  transform: skewX(-22deg);
}
.landing-btns button:hover {
  cursor: grab;
  color: #ffffff;
  transition: 0.5s;
}
.landing-btns button:hover i {
  opacity: 1;
  right: 0;
  width: 100%;
  transform: skewX(0deg);
  transition: all 1s ease;
}
.landing-btns button.blak-btn {
  background-color: #222429;
  color: #ffffff;
  width: auto;
  padding: 20px 40px;
}
.landing-btns button.blak-btn i {
  background-color: #ffffff;
}
.landing-btns button.blak-btn:hover {
  color: #222429;
}

@media only screen and (max-width: 1200px) {
  .landing-btns button {
    font-size: 18px;
  }
  .landing-btns button.blak-btn {
    width: 220px;
    padding: 20px;
  }
}
form {
  margin-bottom: 100px;
}
form .inputs {
  height: 70px;
  width: 100%;
  color: #686a6f;
  line-height: 40px;
  padding: 14px 30px;
  background-color: #f4f5f8;
  border: 1px solid #f4f5f8;
  border-radius: 8px;
  transition: all 300ms ease;
  font-family: Rubik, sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  margin-bottom: 20px;
}
form textarea.form-control {
  background-color: #f4f5f8;
  border: 1px solid #f4f5f8;
  border-radius: 8px;
}
form .frm-input-btn {
  display: flex;
  justify-content: space-between;
}
form .frm-input-btn .landing-btns a {
  color: #222429;
}

@media only screen and (max-width: 569px) {
  form .inputs {
    height: 50px;
  }
  form .frm-input-btn .landing-btns button {
    font-size: 16px;
    width: 150px;
  }
}/*# sourceMappingURL=pixonStyle.css.map */